# Dependencies
node_modules

# Build output
dist
dist-ssr

# Editor/IDE
.vscode
.idea
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Local Vite files
*.local

# TypeScript cache
*.tsbuildinfo

# files from other project
public/fonts/characters
public/fonts/misc
to-do.md